{% extends 'base.html' %}

{% block content %}

<div class="greeting">
    <h1>Watchlist for {{user.username}}</h1>
</div>

{% if object_list %}
<section>
    {% for object in object_list %}
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="{{object.anime.image}}">
                <p></p>
            </div>
            <div class="flip-card-back">
                <div class="card-content">
                    <h4>{{ object.anime.title }}</h4>
                    Genre(s): <br>
                    {% for genre in object.anime.genres %}
                    {{ genre }}
                    {% endfor %}
                    <p>Episodes: {{ object.anime.episodes }}</p>
                    <p>Status: {{ object.anime.status }}</p>
                    <div class="card-buttons">
                        <a id="see-more" href="{% url 'detail' object.anime.mal_id %}">See More</a>
                        <form method="POST" action="{% url 'delete_anime' object.anime.id %}">
                            {% csrf_token %}
                            <br>
                            <input id="see-more" type="submit" value="Delete from List">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% else %}

    <h3>Nothing in your watchlist</h3>

{% endif %}


{% endblock %}