{% extends 'base.html' %}

{% block content %}

<h1>Welcome to AnimeButler, search for anime below</h1>

<!--search by keywords-->
<form action="{% url 'ind_search' %}" method="GET">
    <input type="text" name="q">
    <button type="submit" class="button-85" role="button">Search</button>
</form>

{% comment %} <!--search by genres-->
<div class="genre-options">
{% for genre in genres %}
    <a class="button" href="{% url 'animes-genre' genre.mal_id %}">{{genre.name}}</a>
{% endfor %}
</div> {% endcomment %}

{% for anime in results %}
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="{{ anime.images.jpg.image_url }}">
            </div>
            <div class="flip-card-back">
                <h4>{{ anime.title }}</h4>
                Genre(s): <br>
                {% for genre in anime.genres %}
                {{ genre.name }}
                {% endfor %}
                <p>Episodes: {{ anime.episodes }}</p>
                <p>Status: {{ anime.status }}</p>
                <br><br><br>
                <a href="{% url 'detail' anime.mal_id %}">See More</a>
            </div>
        </div>
    </div> <br>
{% endfor %}

{% endblock %}