@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');

:root {
    --deep-purple: #4A148C;
    --red-darken: #b71c1c;
    --pink-darken: #880E4F;
    --pink-accent: #FF80AB;
    --cyan-lighten: #26c6da ;
    --teal-accent: #a7ffeb;
    --indigo-accent: #3d5afe;
    --purple-accent: #aa00ff;
    --amber-accent: #ffd740;
    --yellow-accent: #ffff8d;
    --lime-accent: #76ff03;
}
body {
    font-family: 'Tapestry', cursive;
    background-attachment: fixed;
    background-image: url(../images/whitecherry.png);
    background-repeat: no-repeat; 
    background-size: cover; 
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 60px 1fr 80px;
    grid-template-areas:
        "nav"
        "main"
        "footer" 
}
/* navigation bar */
body > nav {
    position: fixed;
    width: 100%;
    z-index: 10;
    grid-area: nav;
    background-color: var(--deep-purple);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 0px;
}
nav > a {
    margin: 20px;
    text-decoration: none;
    padding: 4px;
    border-radius: 5px;
    color: var(--yellow-accent);
}
nav > a:hover {
    color:var(--red-darken);
    background-color: var(--amber-accent);
}
nav > a.active {
    color: black;
    background-color: var(--cyan-lighten);
}

/* main section */
body > main {
    /* background-image: url(../images/cherry.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #ffffff; */
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.greeting{
    display: flex; 
    justify-content:flex-start; 
    width:100%;
    margin-top: 10px;
}
.h1Greeting{
    width: 60vw;
}
span {
    font-weight: 700;
}
a{
    text-decoration: none;
}
.button, .delete-button{
    color: white;
    background-color: var(--pink-accent);
    border: 1px solid var(--pink-accent);
    border-radius: 5px;
    padding: 4px 15px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}
.delete-button {
    background-color: var(--red-darken);
    border: var(--red-darken);
    color: white;
}
.button:hover, .delete-button:hover {
    background-color: var(--amber-accent);
    border: var(--amber-accent);
    color: white;
}
.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.button-85:before {
    content: "";
    background: linear-gradient(
    45deg,
    #FF0000,
    #FF7300,
    #FFFB00,
    #48FF00,
    #00FFD5,
    #002BFF,
    #7A00FF,
    #FF00C8,
    #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}
@keyframes glowing-button-85 {
    0% {
    background-position: 0 0;
    }
    50% {
    background-position: 400% 0;
    }
    100% {
    background-position: 0 0;
    }
}
.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 65vw;
    height: auto;
    margin-bottom: 10px;
    padding: 15px;
}
.options > a {
    margin: 5px;
}
.interests {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 65vw;
    height: auto;
}
.interests > form {
    padding: 5px;
}
.interests-table {
    font-family: Helvetica, sans-serif;
}
.interests-table > tbody > tr > td {
    padding: 5px 5px 0px 5px;
}
#search-interest {
    padding-right: 70px;
}
.form-interest{
    font-weight: 600;
    color: black;
}
.form-signup{
    display: flex; 
    justify-content: flex-start; 
    width: 50%;
    margin-top: 10px;
}
.form-signup > form {
    margin: 10px;
}
/* anime flip cards */
/* The flip card container*/
.flip-card {
    background-color: transparent;
    width: 225px;
    height: 325px;
    perspective: 1000px; 
    border-radius: 5px;
    padding: 15px;
}
/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 5px;
    text-align: left;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 5px;
}
.flip-card-front > img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
.flip-card-back {
    background-color: white;
    transform: rotateY(180deg);
    color: black;
}
.flip-card-back > div {
    padding: 10px;
}
/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    color: black;
}
#see-more {
    color: var(--amber-accent);
    font-weight: 700;
    background-color: var(--indigo-accent);
    border: 1px solid var(--indigo-accent);
    padding: 5px;
    border-radius: 5px;
}
.card-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* anime details page */
.anime-detail {
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
    width: 85%;
}
.anime-detail > div {
    padding: 5px;
}
.description {
    width: 85%;
    margin: 10px;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
}

/*footer section*/
footer {
    grid-area: footer;
    background-color: var(--deep-purple);
    font-family: 'Courier New', Courier, monospace
}
.copyright {
    font-size: 12px;
    color: var(--yellow-accent);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight:bold;
}
.copyright > p {
    margin: 6px;
}
.copyright > a, .copyright > p > a {
    color: var(--yellow-accent);
    text-decoration: none;
}
.copyright > a:hover, .copyright > p > a:hover {
    text-decoration: underline;
}
@media (max-width: 433px) {
    body > nav {
        padding: 0;
    }
}