{% extends 'base.html' %}

{% block content %}

<div class="greeting"><h1 class="h1Greeting">Welcome back, {{ user.username }}</h1></div>

<h3 id="search-interest">Search for anime or click on an interest</h3>
<div class="search">
  <form action="{% url 'search' %}" method="GET">
    <input type="text" name="q">
    <button type="submit" class="button-85" role="button">Search</button>
  </form>
</div>
<div class="options">
  <h3>Your interests:</h3>
  {% for interest in interests %}
      <a class="button" href="{% url 'interest-search' interest.genre %}">{{interest.get_genre_display}}</a>
  {% endfor %}

</div>

{% for anime in results %}
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="{{ anime.images.jpg.image_url }}">
            </div>
            <div class="flip-card-back">
                <div>
                  <h4>{{ anime.title }}</h4>
                  Genre(s): <br>
                  {% for genre in anime.genres %}
                  {{ genre.name }}
                  {% endfor %}
                  <p>Episodes: {{ anime.episodes }}</p>
                  <p>Status: {{ anime.status }}</p>
                  <br>
                  <div class="card-buttons">
                    <a id="see-more" href="{% url 'detail' anime.mal_id %}">See More</a>
                  </div>
                </div>
            </div>
        </div>
    </div> <br>
{% endfor %}

{% endblock %}


