{% extends 'base.html' %} 

{% block content %}

<h1>More about {{anime.title}}</h1>
<section class="anime-detail">
    <div>
        <img src="{{ anime.images.jpg.image_url}}" alt="image for {{anime.title}}">
    </div>
    <div>
        <p><span>Title:</span> {{ anime.title }}</p>
        <div>
            <span>Producer(s):</span><br>
            {% for producer in anime.producers  %}
                {{producer.name}} <br> 
            {% endfor %}
            <br>
        </div>
        <div>
            <span>Genre(s):</span><br> 
            {% for genre in anime.genres %}
                {{genre.name}} <br> 
            {% endfor %}
        </div>
        <p><span>Year:</span> {{anime.year}}</p>
        <p><span>Episodes:</span> {{anime.episodes}}</p>
        <p><span>Status:</span> {{anime.status}}</p>
    </div>
</section>
<div class="description">
    <p><span>Description:</span> {{ anime.synopsis }}</p>
</div>

{% if user.is_authenticated %}
    <form method="POST" action="{% url 'add_anime' anime.mal_id %}"> 
        {% csrf_token %}
        <input type="submit" value="add to list" class="button">
    </form> 
{% endif %}

{% endblock %}
