{% extends 'base.html' %} {% block content %}

<h1>hello this is the details page</h1>

<p>Title: {{ anime.title }}</p>
<p>Producer: {{ anime.producer }}</p>
<p>Creator: {{ anime.creator }}</p>
<p>Genre: {{ anime.get_genre_display }}</p>
<p>Description: {{ anime.description }}</p>
<p>Language Choices: {{ anime.get_language_display }}</p>

{% if user.is_authenticated %}
    {% comment %} add some button to add to watchlist {% endcomment %}
    <form method="POST" action="{% url 'add_anime' anime.id %}">
        <input type="submit" value="add to list" class="btn">
    </form>
    
{% endif %}

{% endblock %}
